:root {
  --primary: #fbc02d;
  --secondary: #1976d2;
  --title: #d32f2f;
}

/* layout styles */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.siteHead {
  margin-left: 0.6em;
  margin-bottom: 1.75em;
}

/* bottom footer bar styles */

footer {
  padding-top: 10px !important;
  background: var(--primary) !important;
  z-index: 10;

  /* only for log and bugfixing */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.sidenav-trigger {
  font-size: 4em;
  vertical-align: middle;
}

.app-logo {
  font-weight: bold;
}

a.app-logo {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  max-width: 100px;
}

.app-logo img {
  width: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.app-name {
  display: block;
  white-space: nowrap;
  color: var(--title);
}

#scrollPage {
  /* history page only */
  /* position: fixed;
  bottom: 0;
  width: 100%; */
}

/* Timer page styles */

canvas {
  margin-top: 20px;
  width: 100%;
  border-radius: 20px;
}

.timer {
  margin-top: 5em;
  margin-bottom: 2em;
}

.distance {
  margin-top: 3em;
}

.tracking {
  margin-top: 4em;
}

#timer, #distance, .tracking-info, h6 {
  font-weight: bold;
}

.btn-large {
  background-color: var(--secondary) !important;
}

#runProgress {
  margin-top: 20px;
}

#runProgress .determinate {
  background-color: var(--title);
}

/* run card styles */

.run-month {
  margin-top: 20px;
}

.run {
  padding: 10px;
}

.run-title {
  font-size: 1.05em;
  font-weight: 400;
}

.runs {
  padding-bottom: 80px;
}

/* overview table layout */

.runOverview{
  margin-top: 25px;#1976d2
  font-size: 1.05em;
}

.runOverview th{
  font-size: 1.4em;
  font-weight: 600;
  color: #757575;
}

.runOverview tr {
  line-height: 45px !important;
}

.runOverview td:not(.rowDescribtor) {
  background-color: #cfd8dc;
  width: 80px;
  text-align: center;
  font-size: 1.1em;
}

.rowDescribtor {
  font-weight: 500;
  font-size: 1.2em
}

.units {
  color: #bdbdbd;
  font-size: 0.6em;
  font-weight: 400;
}

/* settings style */

.settings .divider{
  margin: 25px 0;
}

.settings .col {
  max-height: 50px;
}

.settings .row {
  margin-bottom: 5px;
}

.settingSwitch {
  margin-top: 20px;
}

.settingDescription {
  padding-top: 0.85em !important;
}

.clearBtn {
  margin-top: 25px;
}

.settingsBtns {
  margin-top: 25px;
  padding-bottom: 90px;
}
/* Settingsbutton color */
#saveSettings {
  background-color: var(--secondary) !important;
}

#resetSettings, #clearLogs {
  background-color: var(--title) !important;
}
 /* slider dot  */
input[type=range]::-webkit-slider-thumb {
    background-color: var(--secondary);
  }
  input[type=range]::-moz-range-thumb {
    background-color: var(--secondary);
  }
  input[type=range]::-ms-thumb {
    background-color: var(--secondary);
  }

/* setting gps switch knob color and background when checked */
input[type="checkbox"]:checked + .lever {
  background-color: var(--primary) !important;
}

.switch input[type="checkbox"] + .lever:after{
  background-color: var(--secondary) !important;
}

#runSettings, #pauseSettings, #warmupSettings {
  color: grey;
}
